.academy {
  display: flex;
  justify-content: space-between;
}

.academy__title {
  color: @medium-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.academy__link-html {
  padding: 47px 0 32px 0;

  @media (min-width: @tablet-width) {
    padding: 63px 25px 55px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 67px 23px 58px 0;
  }
}

.academy__link-logo {
  padding: 39px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 56px 0 55px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 0 58px 0;
  }
}
