.academy {
  display: flex;
  justify-content: space-between;
}

.academy__title {
  color: @medium-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.academy__link-html {
  padding: 28px 0 32px 0;

  @media (min-width: @tablet-width) {
    padding: 63px 22px 55px 0;
  }
}

.academy__link-logo {
  padding: 22px 0 22px 0;

  @media (min-width: @tablet-width) {
    padding: 58px 15px 55px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 0 56px 0;
  }
}
