.additional-items__wrapper {
  margin: 25px 0 0 0;
}

.additional-items__item {
  list-style-type: none;
}

.additional-items__subtitle {
  font-style: "Oswald";
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-items__number {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-items__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
