.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1280px;
    padding: 0 30px;
  }
}

.container--form-tablet {
  @media (min-width: @tablet-width) {
    max-width: 708px;
    padding-left: 41px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1280px;
    padding: 0 30px;
  }
}
