.main-banner {
  margin: 0 auto;
  background-image: url("../img/index-background-cat.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background: #755c54;
}

.main-banner__wrapper {
  background: #68B738D9;
}

.heading-primary--white {
  margin: 0;
  color: #ffffff;
}
