.main-header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 24px 30px 0 30px;
  }
}

.main-header__logo-cat {
  min-height: 38px;
}

.main-header__logo-cat-energy {
  min-height: 18px;
}
