.main-footer {
  background: @basic-grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 55px 0;

    &--form {
      padding: 61px 0 55px 0;
    }
  }

  &--form-tablet {
    @media (min-width: @tablet-width) {
      padding: 1px 0 0 0;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }
}

.main-footer__wrapper-cat-energy {
  text-align: center;
  padding: 39px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-footer__logo-cat-energy {
  @media (min-width: @tablet-width) {
    display: block;
    height: 23px;
  }

  svg {
    fill: @black-grey;
  }

  &:hover svg {
    opacity: 0.8;
  }

  &:active svg {
    opacity: 0.6;
  }
}
