.main-nav__item {
  list-style-type: none;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
