.main-nav {
  @media (min-width: @tablet-width) {
    margin-right: 30px;
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 110px;
    margin-top: 69px;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    min-height: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  list-style-type: none;

  a {
    position: relative;
    display: block;
    padding-top: 22px;
    padding-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    background-color: transparent;
    border-top: 1px solid @special-grey-5;
    text-align: center;

    @media (min-width: @tablet-width) {
      padding: 0;
      border: none;
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: @desktop-width) {
      font-size: 20px;
      line-height: 30px;
      color: @white;
    }
  }

  &:last-child a {
    border-bottom: 1px solid @special-grey-5;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background: @green;

        @media (min-width: @tablet-width) {
          bottom: 0;
        }

        @media (min-width: @desktop-width) {
          background: @white;
          bottom: 0;
        }
      }
    }
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 5;
  display: block;
  width: 24px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    padding-top: 16px;
    z-index: 10;
    background: @white;
    width: 100%;
  }

  .main-nav--closed .main-nav__toggle {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 11px;
  left: auto;
  right: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
