.main-banner {
  margin: 0 auto;
  background-image: url("../img/index-background-cat.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: @brown;

  @media (min-width: @tablet-width) {
    background-image: none;
    background: @white;
  }

  // @media (min-width: @desktop-width) {
  //   &::before {
  //     content: "";
  //     left: 50%;
  //     bottom: 0;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     background-image: url("../img/index-background-desktop.jpg");
  //     background-size: 100% 627px;
  //     background-repeat: no-repeat;
  //   }

  //   &::after {
  //     content: "";
  //     left: 50%;
  //     bottom: 0;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     background: linear-gradient(to right, #fff 50%, rgba(104, 183, 56, 0.85) 50%);
  //     }
  // }
}

.main-banner__wrapper {
  background: @green-opacity;

  @media (min-width: @tablet-width) {
    background: @white;
    padding-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    padding-top: 96px;
    padding-bottom: 185px;
    background: @white;
    width: 575px;
  }
}

.main-banner__tagline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: @black;
  }
}

.main-banner__button {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background: @green;
}

.heading-primary--white {
  color: @white;

  @media (min-width: @tablet-width) {
    color: @black;
  }
}
