.main-nav {
  @media (min-width: @desktop-width) {
    background-image: url("../img/index-background-cat.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: @brown;
  }
}


.main-nav__wrapper {
  @media (min-width: @desktop-width) {
    min-height: 694px;
    background: @green-opacity;
  }
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}
