.main-header {
  padding-top: 69px;
}

.main-header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 98px;
  }
}

.main-header__logo-cat {
  min-height: 38px;
}

.main-header__logo-cat-energy {
  min-height: 18px;
}
