.main-heading {
  margin: 27px 0 0 20px;
}

.main-heading__title {
  margin: 0;
}

.main-heading__text {
  font-family: "Oswald", "Arial", sans-serif;
  color: @black;
  text-transform: uppercase;
  margin: 0;
  padding: 37px 0 0 0;
}
