.main-banner {
  margin: 0 auto;
  background-image: url("../img/index-background-cat.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: @brown;
}

.main-banner__wrapper {
  background: @green-opacity;
}

.heading-primary--white {
  color: @white;
}
