.main-heading {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 100vw;
    height: 1px;
    overflow: hidden;
    background-color: @special-grey-3;
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.main-heading__title {
  margin: 0;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding: 47px 0 0 0;

    &--form-tablet {
      padding: 47px 0 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.main-heading__text {
  font-family: "Oswald", "Arial", sans-serif;
  color: @black;
  text-transform: uppercase;
  margin: 0;
  padding: 37px 15px 0 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 54px 279px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 830px 0 0;
  }
}
