.product-catalog {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 81px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 84px;
  }
}

.product-catalog__list {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    gap: 59px 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    gap: 62px 80px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.product-catalog__item {
  list-style-type: none;

  &--show {
    padding-top: 21px;
  }
}

.product-catalog__link-wrapper {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-top: 27px;
    padding: 0 55px 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
    padding: 0 18px 0 20px;
  }
}

.product-catalog__link-wrapper-show {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 125px;
    width: 30px;
    height: 30px;
    background: url("../img/plus.svg") no-repeat;

    @media (min-width: @tablet-width) {
      top: 50px;
      left: 130px;
      width: 60px;
      height: 60px;
      background: url("../img/plus-tablet.svg") no-repeat;
    }

    @media (min-width: @desktop-width) {
      top: 49px;
      left: 90px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 2px solid @basic-grey;
    margin-top: 62px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px
  }
}

.product-catalog__details {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @black-grey;
  text-transform: uppercase;
  margin: 0;
  padding-top: 62px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 159px 90px 0 90px;
  }

  @media (min-width: @desktop-width) {
    padding: 159px 45px 0 45px;
  }
}

.product-catalog__text {
  font-size: 12px;
  line-height: 16px;
  color: @medium-grey;
  margin: 0;
  padding-top: 7px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 25px 71px 0 73px;
  }

  @media (min-width: @desktop-width) {
    padding: 24px 27px 0 27px;
  }
}

.product-catalog__button-wrapper-grey {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 85px;
    padding-bottom: 36px;
    margin: 0 0 0 36px;
    width: 249px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 85px;
    padding-bottom: 39px;
    width: 169px;
  }
}

.product-catalog__button--grey {
  background: @basic-grey;
  color: @medium-grey;
  padding: 10px 94px;

  @media (min-width: @tablet-width) {
    background: @basic-grey;
    color: @medium-grey;
    padding: 10px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }

  &:hover {
    background-color: @special-grey-4;
  }

  &:focus {
    outline: 1px solid @medium-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.product-catalog__link-show {
  &:focus {
    outline: none;
  }
}

.product-catalog__link {
  &:focus {
    outline: none;
  }
}
