.product-catalog__link {
  text-decoration: none;
}

.product__details {
  font-style: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: @black-grey;
  text-transform: uppercase;
}

.product__text {
  font-size: 12px;
  line-height: 16px;
  color: @medium-grey;
}
