.product__details {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @black-grey;
  text-transform: uppercase;
  margin: 0;
  padding-top: 81px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 161px 90px 0 90px;
  }

  @media (min-width: @desktop-width) {
    padding: 161px 53px 0 53px;
  }
}

.product__text {
  font-size: 12px;
  line-height: 16px;
  color: @medium-grey;
  margin: 0;
  padding-top: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 23px 75px 0 78px;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 37px 0 37px;
  }
}

.product {
  border-bottom: 1px solid @special-grey-4;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 161px 36px 39px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 162px 30px 0 35px;
  }
}

.product__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @dark-grey;
  text-transform: uppercase;
  padding: 11px 66px 0 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
  }
}

.product__table {
  margin: 0;
  padding: 18px 0 0 140px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 22px 0 0 0;
  }
}

.product__desc {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special-grey;
    padding-bottom: 9px;

    &:not(:first-child) {
      padding-top: 7px;
    }
  }
}

.product__name {
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__characteristics {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__button-wrapper {
  padding-top: 32px;

  @media (min-width: @tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 33px 0 40px 0;
  }
}

.product__button {
  padding: 10px 110px;

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.product__button-wrapper-grey {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
    margin-left: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 87px;
    margin-left: 38px;
  }
}

.product__button--grey {
  background: @basic-grey;
  color: @medium-grey;
  padding: 10px 94px;

  @media (min-width: @tablet-width) {
    background: @basic-grey;
    color: @medium-grey;
    padding: 10px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}
