.program-catalog {
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 103px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
  }
}

.program-catalog__list {
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.program-catalog__item {
  background: @basic-grey;
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 22px;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 211px;
      top: 81px;
      left: 446px;
      background-size: 200px 211px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      background-size: 100px 106px;
    }
  }

  &--loss::before {
    background-image: url("../img/loss.svg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 50px;
    top: 24px;
    left: 13px;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 200px;
      top: 90px;
      left: 410px;
      background-size: 268px 200px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
      background-size: 134px 100px;
    }
  }

  &--gain::after {
    background-image: url("../img/gain.svg");
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - 80px / 2);
    min-height: 374px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 80px;
      margin-bottom: 0;
    }
  }
}

.program-catalog__title {
  margin: 0;
  padding: 35px 0 0 91px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 77px 0 0 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 0 0 214px;
  }

  &--gain {
    padding: 35px 0 0 91px;

    @media (min-width: @tablet-width) {
      padding: 76px 28px 0 52px;
    }

    @media (min-width: @desktop-width) {
      padding: 77px 0 0 214px;
    }
  }
}

.program-catalog__text {
  display: block;
  margin: 0;
  padding: 35px 33px 23px 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    left: 20px;
    bottom: 0;
    border-bottom: 1px solid @special-grey-3;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 25px 313px 0 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 73px 51px 0 52px;

    br {
      display: none;
    }
  }
}

.program-catalog__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  margin: 18px 0 23px 19px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 52px 0 56px 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 27px 0 0 52px;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.program-catalog__svg-loss {
  margin-left: 13px;

  @media (min-width: @tablet-width) {
    margin-left: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 25px;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
    stroke: rgba(0, 0, 0, 0.3);
  }
}

.program-catalog__svg-gain {
  margin-left: 16px;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 24px;
  }
}
