@white: #ffffff;
@green: #68b738;
@black: #000000;
@black-grey: #111111;
@medium-grey: #444444;
@dark-grey: #222222;
@grey: #eaeaea;
@basic-grey: #f2f2f2;
@special-grey: #cdcdcd;
@special-grey-2: #666666;
@special-grey-3: #d9d9d9;
@special-grey-4: #ebebeb;
@brown: #755c54;
@tablet-width: 768px;
@desktop-width: 1220px;
